nav {
    background-color: #f4f4fa;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  .nav-link {
    margin: 0 20px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    transition: background-color 0.3s;
  }
  
  /* .nav-link:hover {
    border-bottom: 2px solid rgb(187, 171, 248);
  } */
  
  .login-register-btn, .add-listing-btn {
    background-color: rgb(105, 78, 216);
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }
  img{
    margin-right: 10px;
    margin-bottom: 4px;
  }
  .login-register-btn:hover, .add-listing-btn:hover {
    opacity: 0.8;
  }
  